body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #355349;
}
.border {
  z-index: -15;
  position: absolute;
  top: 9px;
  background-color: #556b2f;
  left: 39px;
  width: 510px;
  height: 659px;
  border: 2px solid #001100;
}
button {
  border-radius: 10px;
  padding: 13px;
  background: linear-gradient(to top, #fffafa, #8b8682);
  font-weight: 600;
}
.buttons {
  margin: 50px 10px 20px 100px;
}
.score {
  margin-left: 72px;
  font-size: 31px;
  color: #ff0000;
  text-shadow: 0 0 6px #010;
}
.field {
  z-index: 30;
  height: 23px;
  margin-left: 53px;
}
.cell {
  display: inline-block;
  background-color: #7fffd4;
  width: 22px;
  height: 22px;
  border: 1px solid #010;
  border-radius: 4px;
  z-index: 30;
  transition: background-color 0.3s;
}
.snake {
  box-shadow: 0 0 10px #000000 inset;
  background: linear-gradient(to right, #00ff00, #556b2f);
  z-index: 30;
  transition: background 0.2s;
}
.food {
  background-color: #ff0000;
  z-index: 30;
  box-shadow: 0 0 10px #000000 inset;
  transition: background-color 2s;
}
